
body{
  background-color: rgb(255, 97, 70);
}

.icon{
  font-size: 25px;
  color: white;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 35px;
  background-color: rgb(18, 18, 43);
}